<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="Your_WebApp_ID"
        version="2.5">
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAdminController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.RegisterAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.AdminEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CutomerManageController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.CutomerManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductTypeController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.ProductTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductTypeController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.DeleteProductTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductTypeController</servlet-name>
        <servlet-class>com.aptech.controllers.admin.UpdateProductTypeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterAdminController</servlet-name>
        <url-pattern>/admin/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditController</servlet-name>
        <url-pattern>/admin/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CutomerManageController</servlet-name>
        <url-pattern>/admin/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductTypeController</servlet-name>
        <url-pattern>/admin/product-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductTypeController</servlet-name>
        <url-pattern>/admin/delete-product-type</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductTypeController</servlet-name>
        <url-pattern>/admin/product-type/edit</url-pattern>
    </servlet-mapping>
</web-app>
